{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Выберите тему</h1>

    <div class="topics-layout">
        {% for category, subtopics in categories.items() %}
        <div class="topic-section mb-4">
            <a href="{{ url_for('show_subtopic', subtopic=category) }}" class="main-topic">{{ category }}</a>
            <div class="subtopics-line mt-2">
                {% for subtopic in subtopics %}
                <a href="{{ url_for('show_subtopic', subtopic=subtopic) }}" class="subtopic">{{ subtopic }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
