<!-- messages.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Чаты</h2>
    <ul class="list-group">
        {% for chat in chats %}
            <li class="list-group-item">
                <!-- Ссылка на чат с продавцом или покупателем по конкретному предложению -->
                <a href="{{ url_for('message', receiver_id=chat.other_user.id, offer_id=chat.offer.id) }}">
                    {{ chat.other_user.username }} - {{ chat.offer.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
