{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Выводим сообщения об ошибках здесь, перед формой -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <ul>
                        <li>{{ message }}</li>
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="card shadow rounded-4">
        <div class="card-header bg-custom text-white rounded-top-4">
            <h5 class="mb-0">Регистрация</h5>
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Имя пользователя</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
